.ruler {
    display: flex;
}

.cm,
.mm {
    border-left: 1px solid #555;
    height: 0.4rem;
    width: 0;
}

.mm.longer {
    height: 0.8rem;
}

.cm {
    height: 1.4rem;
}

.cm>span,
.mm>span {
    display: block;
    margin-top: 2rem;
    margin-left: -.25rem;
}