* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* The score area */
#score-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#score-area .left {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: white;
}

#score-area .left h4 {
    margin-right: 1rem;
}

#score-area .start h4 {
    padding: 1rem;
    margin-right: 1rem;
    color: white;
    background-color: coral;
}

/* The chips */
div #stage-container {
    color: white;
    font-weight: bold;
}