* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
}

section.left,
section.right {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50vw;
    margin: 1 rem;
    background-color: gray;
}

.left img {
    width: 100%;
    height: aut0;
}

.right p {
    margin: 1rem;
    padding: 1rem;
    background-color: coral;
    display: none;
}