* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.list {
    padding: 1rem;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 0 1rem 0 1rem;
    background-color: dimgray;
    color: yellowgreen;
    border: 1px solid black;
    box-shadow: 0.5rem 0.5rem 0 black;
}

.item--checked {
    background-color: coral;
    color: gray;
    border: 1px dotted red;
    text-decoration: line-through;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}