/* Sources of help:
https://css-tricks.com/a-couple-of-use-cases-for-calc/
https://css-tricks.com/couple-takes-sticky-footer/
*/

/* 
################################
# GLOBAL                       #
################################
*/

*{
  box-sizing: border-box;
}

/* Make screen always 100% */
body, 
html { 
  font-size: 16px;
  width:100%; 
  height:100%; 
  padding: 0; 
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: Gainsboro;
}

/* body {
  font-size: 18px;
} */

/* 
################################
# HEADER                       #
################################
*/


header {
  position: relative;
  height: 64px;
  justify-content: space-between;
  z-index: 999;
  background-color: black;
  border-bottom: 2px dotted black;
  box-shadow: 0 8px purple;
}

header,
.header__menuBtn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: center; */
}

.header__logo {
  font-size: 2rem;
  color: white;
  /* text-shadow: white 0px 1px 1px; */
}

.header__menu,
.header__menubtn,
.header__filler {
  height: 64px;
  width: 64px;
}

.header__menuBtn div {
  width: 32px;
  height: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  background-color: white;
}

.header__menuBtn a {
  padding-top: 32px; 
  padding-bottom: 32px; 
  /* padding-right: 16px;  */
  padding-left: 16px;
}

/* 
################################
# MENU                         #
################################
*/


nav {
  background-color: black;
}

nav > ul {
  padding: 0;
  margin: 0;
  color: white;
}

.menu__item {
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 1.25rem;
}

.nav__menu {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: auto;
}

.nav__menu li {
  line-height: 1.5rem;
  list-style-type: none;
  /*   text-shadow: 0 2px purple; */
  border-bottom: 2px dotted purple;
}

/* 
################################
# MAIN                         #
################################
*/
.main__wrapper {
  display: flex;
  justify-content: center;
}

main {
  max-width: 1664px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main__article {
  padding: 32px;
  width: 100%;
  border-bottom: 2px dotted black;
}

.main__article h1 {
  margin: 0;
}

/* 
################################
# HOME                         #
################################
*/

.article__home {
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: -1; */
  background-image: url("../img/dunky.jpg");
  background-position: center;
  background-size: cover;
  /* Typography */
  text-align: center;
}

.article__home p {
  margin: 0;
  font-size: 4rem;
  box-shadow: 0 8px white;
  text-shadow: 0 3px 0.5px white;
}

/* 
################################
# SKILLS                       #
################################
*/

.skills__list {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__bubble {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
  box-shadow: 0 8px purple;
  background-color: black;
  border-radius: 1rem;
}

/* 
################################
# PROJECTS                     #
################################
*/

.article__projects {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 6;
}

.wideThumb__wrapper {
  /* width: 100%; */
  height: auto;

  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__wideThumb {
  min-width: 384px;
  max-width: 384px;
  min-height: 192px;
  background-color: white;
  box-shadow: 0 2px; 
}

.wideThumb__figCaption {
  padding: 0.5rem;
  position: absolute;
  transform: translatey(-2rem);
}

/* 
################################
# ABOUT ME                     #
################################
*/

.main__aboutMe {
  padding: 0;
}

.main__2column {
  display: flex;
  flex-wrap: nowrap;
}

.aboutMe__column {
  padding: 1rem;
  margin-left: auto ;
  margin-right: auto ;
  width: 100%;
  text-align: center;
}

.aboutMe__column--left {
  background-image: url("../img/profile_pic.jpg");
  background-size: cover;
  height: 512px;
  background-origin: border-box;
  background-position: right top;
}

.aboutMe__column--Right {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* .aboutMe__profilePicture {
  display: inline-block;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 256px;
  height: 256px;
  min-width: 256px;
  min-height: 256px;
} */

.aboutMe__info {
  display: inline-block;
  background-color: white;
}

/* 
################################
# GITHUB & CONTACT             #
################################
*/

.main__article--icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.main__article--icons img {
  width: 8rem;
  margin: 2rem;
}

/* 
################################
# FOOTER                       #
################################
*/

footer {
  padding: 0.5rem;
  height: 32px;
  background-color: silver;
  text-align: center;
}

/* GENERAL STYLES */

.hidden {
  display: none;
}