*{
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    /* Typography */
   
}

/* h1,
h2 {
    font-size: 2rem;
    margin: 0;
    padding: 2rem;
    color: white;
} */

header,
nav,
article,
footer {
    padding: rem;
}

hr {
    margin-left: 2rem;
    margin-right: 2rem;
}



/* MAIN ELEMENTS */
header {
    background-color: black;
}

.content__wrapper {
    display: flex;
    /* flex-wrap: wrap; */
}

aside {
    width: 40vw;
    /* height: 70vh; */
    min-height: 1rem;
    max-width: 384px;
    background-color: orange;
}

main {
    /* width: 60vw; */
    /* height: 70vh; */
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 1rem;
    background-color: white;
    overflow: scroll;
}

.content__wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

main h1 {
    padding-bottom: 0;
    color: black;
}

main p {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

footer,
footer.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: silver;
}