.field {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: 512px;
  margin-left: auto;
  margin-right: auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  box-shadow: inset 0 0 0 0.2rem white;
}

.square>p {
  font-size: 2rem;
}

.square:nth-child(4n-1) {
  background-color: coral;
}

.square:nth-child(4n) {
  background-color: rgb(110, 190, 141);
}

.square:nth-child(4n+1) {
  background-color: rgb(110, 174, 190);
}

.square:nth-child(4n+2) {
  background-color: rgb(190, 110, 130);
}