.contact {
    padding: 32px;

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    }

    img {
        width: 8rem;
        margin: 1rem;
        min-width: 20vw;
    }

    .underbar {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 8rem;
        animation-duration: 0.5s;
        animation-delay: 0s;
        animation-direction: normal;
        animation-name: underbar;
        animation-fill-mode: forwards;
    }
}