.projects {
    &__wrapper {
        display: flex;
        margin-bottom: 2rem;
    }

    &__center {
        width: 832px;
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;
    }

    &__wideThumb {
        min-width: 384px;
        max-width: 384px;
        min-height: 192px;
        background-color: white;
        box-shadow: 0 2px;
    }
}

.wideThumb {
    &__wrapper {
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &__figCaption {
        padding: 0.5rem;
        position: absolute;
        transform: translatey(-2rem);
    }
}